
.title{
    font-family: 'Rancho', cursive;
  }
  
html{
    background-color: rgb(240, 237, 233);
}

.main-text{
    text-align: center;
  
    color: white;
}

.card-wrapper{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.card-info{
    display: flex;
}

.Id_Profile
{
    margin-top: 5px;
    margin-left: 15px;
    margin-bottom: 5px;
    width: 35px;
    height: 35px;
}

.Id{
    margin-top: 12px;
    margin-left: 15px;
    font-family: 'Roboto Slab', serif;
}

.weather{
    margin-left:auto;
    margin-right: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
    width: 35px;
    height: 35px;
}

.clock{
    margin-top: 12px;
    margin-right: 25px;
    text-align: end;
    font-family: 'Roboto Slab', serif;
}

.card{
    width: 300px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0px 2px 20px rgb(77, 77, 0.274);
    overflow: hidden;

    position: relative;

    margin: 30px;
    transition: 0.3s;
}

.card:hover{
    transform: translateY(-10px);
}

.card-banner img{
    position: absolute;

    width: 90%;
    margin-left: 15px;
    height: 60%;
    object-fit: cover;
    border-radius: 5%;
}

.card-body{
    margin: 240px 15px 15px 15px;
}

 .desc{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 15px;
    margin-top: 15px;
}

.hastag{
    font-size: 12px;
    color: rgba(124, 112, 247, 1);
    font-style: oblique ;
}

.title{
    font-weight: 800;
    font-size:20px;
    margin-bottom: 10px;
}

.profile-content img{
    width: 80px;
    height: 80px;
    border-radius: 20%;
    object-fit: cover;

    position: absolute;
    left: 18px;
}

.profile{
    width: 400px;
    background: white;
    border-radius: 20px;
    box-shadow: 0px 2px 20px rbba(77, 77, 0.274);

    position: relative;
    padding: 20px;

    display: flex;
    align-items: center;
    justify-content: space-between;

    margin: 30px;
}

.profile-content{
    display: flex;
    align-items: center;
}

.detail{
    margin-left: 95px;
}

.profile-wrapper{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.Status img{
    width:20px;
    height: 20px;
}

.card-profile-wrapper{
    display:inline;
    width: 20px;
    height: 20px;
}

#fixedbutton{
    position: fixed;
    bottom: 50px;
    right: 50px;
    width: 60px;
    height: 60px;
}


.search-wrapper{
    display: flex;
    justify-content:center;
    align-items: center;
    padding: 20px;
}

.search{
    display: flex;
    background-color: white;
    width: 15%;
    border-radius: 10px;
    margin-left: 7%;
    margin-top: 1%;
}

.search-wrapper .search img{
    display: flex;
    width: 25px;
    height: 25px;
    margin-right: 15px;
    margin-top:3px;
    margin-bottom: 3px;
}

input::-webkit-input-placeholder { color: #f00; }

.search input{
    display: flex;
    margin-top: 3px;
    margin-bottom: 3px;
    margin-right: auto;
    margin-left: 10px;
    font-family:sans-serif;
    border:none;
    font-size: 18px;
    opacity: 0.4;
}
