*{
    margin: 0;
    padding: 0;
} 


.body, .body2, .body3, .body4, .body5{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 15px;
}

/* checkbox 시작 */
/* checkbox1 */

.box1[type=checkbox] { 
    width: 60px;
    height: 60px;
    display:none; 
}

.box1[type=checkbox] + label { 
    cursor: pointer; 
    line-height: 30px; 
    padding-left: 30px; 
    margin-right: 30px;
    background: url('https://image.flaticon.com/icons/png/512/826/826957.png') left/30px no-repeat; 
}

.box1[type=checkbox]:checked + label { 
    background-image: url('https://image.flaticon.com/icons/png/512/1828/1828644.png'); 
}

/* checkbox 2 */
.box2[type=checkbox] { 
    display:none; 
}

.box2[type=checkbox] + label { 
    cursor: pointer; 
    line-height: 30px; 
    padding-left: 30px; 
    margin-right: 30px;
    background: url('https://image.flaticon.com/icons/png/512/869/869869.png') left/30px no-repeat; 
}

.box2[type=checkbox]:checked + label { 
    background-image: url('https://image.flaticon.com/icons/png/512/1828/1828644.png'); 
}

/* checkbox 3 */
.box3[type=checkbox] { 
    display:none;
}

.box3[type=checkbox] + label { 
    cursor: pointer; 
    line-height: 30px; 
    padding-left: 30px; 
    margin-right: 30px;
    background: url('https://image.flaticon.com/icons/png/512/4150/4150923.png') left/30px no-repeat; 
}

.box3[type=checkbox]:checked + label { 
    background-image: url('https://image.flaticon.com/icons/png/512/1828/1828644.png'); 
}

/* checkbox 4*/
.box4[type=checkbox] { 
    display:none; 
}

.box4[type=checkbox] + label { 
    cursor: pointer; 
    line-height: 30px; 
    padding-left: 30px; 
    margin-right: 30px;
    background: url('https://image.flaticon.com/icons/png/512/1146/1146869.png') left/30px no-repeat; 
}

.box4[type=checkbox]:checked + label { 
    background-image: url('https://image.flaticon.com/icons/png/512/1828/1828644.png'); 
}

/* checkbox 끝 */

.weather-wrapper{
    margin-top: 30px;
}

.weather-wrapper, .time-wrapper, .photo-wrapper, .hashtag-wrapper{
    padding: 20px;
    margin-right: 40px;
    display: flex;
    width:1000px;
    flex-direction: row;
    background-color: white;
    border-radius: 10px;
}

.desc-wrapper{
    padding: 20px;
    margin-right: 40px;
    width:1000px;
    background-color: white;
    border-radius: 10px;
    display: flex;
}


label{ 
    display:flex;
    justify-content:center;
    align-items: flex-start;
    width:100px;
}

.btn_weather, .btn_time, .btn_photo, .btn_hashtag, .btn_desc{
    color:white;
    border-radius: 5px;
    padding: 5px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: rgb(106, 159, 177);
    margin-right: 20px;
}

input::placeholder{
    opacity: 0.6;
    color: black;
    padding: 5px;
}

input:focus:-ms-input-placeholder, textarea:focus:-ms-input-placeholder {
     color:transparent; 
}

.submit{
    width:60px;
    height:30px;
    background-color:rgba(124, 112, 247, 1);
    color: aliceblue;
    margin:15px;
    font-family: 'Roboto';
    font-size:15px;
    text-align: center;
    border-radius: 10px;
    margin-left:51%;
    margin-bottom:1%;
    border:0;
    outline: 0;
}