.intro {
    box-sizing: border-box;
    margin-left: 400px;
    margin-right: 400px;
} 

.block {
    margin-left: 200px;
}

.row {
    margin-left: 30%;
    margin-right: 30%;
    text-align: left;
}

.col-4 {
    margin-top: 30px;
}

.col-8 {
    margin-top: 20px;
    text-align: left;
    line-height: 250%
}


