*{
  box-sizing: border-box;
}

.header{
  background-color: rgb(106, 159, 177);
  height:80px;
  padding:0px;
  margin:0px;
  font-family: 'Rancho', cursive;
  display:flex;
  justify-content:flex-end;
  align-items: center;
  text-align: center;
}

.header img{
  margin-right: 0.5cm;
}
.btn{
  width:60px;
  height:30px;
  background-color:rgba(124, 112, 247, 1);
  color: aliceblue;
  margin:15px;
  font-family: 'Roboto';
  font-size:15px;
  text-align: center;
  border-radius: 10px;
  border:0;
  outline: 0;
}

.title{
  margin-right:15.5cm;
}

.main{
  width: 100%;
  height: 1500px;
  padding-left: 12cm;
  margin:auto;
}

.ID{
  margin-top: 2cm;
}

.id{
  width: 130px;
  height: 35px;
  margin-right:0.8cm;
  border-radius: 10px;
  border-style: solid;
  border-color:aliceblue;
  box-shadow: 1px 0px 2px 1px rgb(124, 123, 123);
}

.input-id{
  width: 400px;
  height: 35px;
}
.Password{
  margin-top: 2cm;
}
.password{
  width: 130px;
  height: 35px;
  margin-right:0.8cm;
  border-radius: 10px;
  border-style: solid;
  border-color:aliceblue;
  box-shadow: 1px 0px 2px 1px rgb(124, 123, 123);
}

.input-password{
  width: 400px;
  height: 35px;
}
.Password2{
  margin-top: 2cm;
}

.password2{
  width: 130px;
  height: 35px;
  margin-right:0.8cm;
  border-radius: 10px;
  border-style: solid;
  border-color:aliceblue;
  box-shadow: 1px 0px 2px 1px rgb(124, 123, 123);
}

.input-password2{
  width: 400px;
  height: 35px;
}

.Select-image{
  margin-top: 2cm;
}

.image{
  width: 130px;
  height: 35px;
  margin-right:0.8cm;
  border-radius: 10px;
  border-style: solid;
  border-color:aliceblue;
  box-shadow: 1px 0px 2px 1px rgb(124, 123, 123);
}

.enter{
  width:300px;
  margin-top: 2cm;
  margin-left: 5cm;
}

.btn2{
  width: 130px;
  height: 35px;
  margin-right:0.8cm;
  border-radius: 10px;
  border-style: solid;
  border-color:aliceblue;
  box-shadow: 1px 0px 2px 1px rgb(124, 123, 123);
}

.btn3{
  width: 130px;
  height: 35px;
  margin-top: 1.5cm;
  margin-left:5cm;
  border-radius: 10px;
  border-style: solid;
  border-color:aliceblue;
  box-shadow: 1px 0px 2px 1px rgb(124, 123, 123);
}

.enter{
  display:flex;
  flex-direction: row;
}