{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>   
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@500&display=swap" rel="stylesheet">
    <title>Cli-mate</title>
    <link rel="stylesheet" href="../../static/css/base.css">
    <style>
    @import url(//fonts.googleapis.com/earlyaccess/nanumgothic.css);
    </style>
</head>
<body>
    <div class="nav-wrapper">
        <div class="blank_left"></div>  <!-- 가상 공간 -->
        <div class="logo">
              <a href="{% url 'main' %}"> <img src="../../static/css/logo_back.PNG" width="240" height="100"></a>
        </div>
        <div class="blank_right"></div> <!-- 가상 공간 -->
        <div class="nav">
            <!-- navbar -->
             {% if user.is_authenticated %}
                <p class="hi">안녕하세요, {{user.username}}님! </p>
                <li><a href="{% url 'credit' %}"><img class="nav-credit" src="https://image.flaticon.com/icons/png/512/174/174188.png"></a></li>
                {% if person.profile.profile_photo.url %}
                <li><a href="{% url 'profile' user.username %}"><img class="nav-profile" style="border-radius:50px;" src={{person.profile.profile_photo.url}}></a></li>
                {% else %}
                <li><a href="{% url 'profile' user.username %}"><img class="nav-profile" src="https://image.flaticon.com/icons/png/512/149/149071.png"></a></li>
                {% endif %}
                <a class="nav-item-link" href="javascript:{document.getElementById('logout').submit()}" style="font-family:Nanum Gothic;">Logout</a>
                <form id="logout" method="POST" action="{% url 'logout' %}">
                    {%csrf_token%} <input type="hidden" />
                </form>
                
            {% else %}
                <a class="nav-item-link" href="{% url 'signup' %}" style="margin-left:280px;">Signup</a>
                <a class="nav-item-link" href="{% url 'login' %}" style="margin-left:10px;">Login</a>
            {% endif %}
        </div>   
    </div>
    <div class ="con"> 
        {% block content %}
            <!-- 다른 템플릿에서 이 템플릿을 상속받아 사용할 때 이 위치에 코드들이 적용된다. -->
        {% endblock %}
    </div>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
   </body>
</html>

