{% extends 'blog/base.html' %}

{% load static %}

  <body>
  {%block content%}
  <link rel="stylesheet" href="../../static/css/basic.css">
    <div class = "detail-card">
      <div class="card">
        <div class="card-body">
          <div class="card-header">
            <div class="profile-picture">
              <img src="https://image.flaticon.com/icons/png/512/149/149071.png"> <!--프로필 사진-->
            </div>
            <h2 class="card-writer">{{ blog.author }}</h2> <!--작성자 이름-->
            <a class ="map" href="{% url 'main_map' %}"><img style="width:30px" src="https://image.flaticon.com/icons/png/512/854/854853.png"></a>
          </div>

            {% if user == blog.author %}
              <a class ="edit" href="{% url 'edit' blog.id %}">수정</a>
              <a class ="delete" href="{% url 'delete' blog.id %}">삭제</a>
            {% endif %}
          <div class="main-picture">
            <img src="{{blog.images.url}}">
          </div>                                <!--main 이미지-->
        </div>
        
        <div class="Like"><a href = "{% url 'post_like' blog.id %}">{{message}}</a>
          {{blog.likes.count}}명이 좋아합니다!</div>
        <div class="sub-comment">
          <p class="Hash-tag">{{blog.hashtag}}</p> <!--해시태그 시간 좋아요-->
          <p class="Time">{{blog.created_at|date:'m-d h:i' }}</p>
        </div>
        <div class="main-comment">
          <p>{{blog.body}}</p>              <!--본문-->               
        </div>  
      </div>
      <div class="card2">
        <div class="weather-picture">
          {% if blog.weather == "['rainy']" %}
                <img class="weather" src='https://image.flaticon.com/icons/png/512/826/826957.png'>
                {% endif %}
                {% if blog.weather == "['sunny']" %}
                <img class="weather" src='https://image.flaticon.com/icons/png/512/869/869869.png'>
                {% endif %}
                {% if blog.weather == "['wind']" %}
                <img class="weather" src='https://image.flaticon.com/icons/png/512/4150/4150923.png'>
                {% endif %}
                {% if blog.weather == "['cloudy']" %}
                <img class="weather" src='https://image.flaticon.com/icons/png/512/1146/1146869.png'>
                {% endif %}
        </div>
        <div class="comment">
        <!--작성된 댓글 넣을 공간-->
          {% for comment in comments %}
          {{user.username}} : {{comment.body}} - {{comment.date|date:'m-d h:i' }}
          <br>
        {% endfor %}
          </div>
          
          <form method="POST">
            <div class="comment-input">
              {% csrf_token %}
              <input name="body" type="text" value="댓글 작성">
              <input class="submit-btn" type="submit" value="게시">
            </div>
          </form>      
            <!--댓글 작성창-->
      </div>
    </div>
  {%endblock%}
  </body>
</html>