{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{% static 'css/signup.css' %}">
  <title>Cli-mate</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Rancho&display=swap" rel="stylesheet">
</head>

{% if error %}
{{ error }}
<br>
<br>
{% endif %}

<body>
  <form method="POST" action="{% url 'login' %}">
    
    {% csrf_token %}
    <div class="header">
      <h1 class="title">Cli-mate</h1>
      <button type="button" class="btn">login</button>
      <img src="https://icongr.am/jam/bus.svg?size=35&color=currentColor"> <!--상단바 프로필사진-->
    </div>
    <div class ="main">
      <div class="ID">
        <button type="button" class="id">ID</button>
        <input name="username" type="text" value="">
      </div>
      <div class="Password">
        <button type="button" class="password">비밀번호</button>
        <input name="password" type="password" value="">
      </div>
      <div class="enter">
      <button type="button" class="button"><a href="{% url 'signup' %}">회원가입</a></button>
      <input class="button" type="submit" value="로그인">
      </div>
    </div>
    </form>
</body>
</html>