{% extends 'blog/base.html'%}
{% load static %}
{% block content%}
    <link rel="stylesheet" href="{% static 'css/signup.css' %}">
    <link rel="stylesheet" href="{% static 'css/login.css' %}">


    {% if error %}
    <script type="text/javascript">

      alert("가입하지 않은 아이디이거나, 잘못된 비밀번호입니다.");

    </script>
    {% endif %}

    <body>
      <form method="POST" action="{% url 'login' %}">
        {% csrf_token %}
        <div class="position">
          <div class ="main">
            <div class="ID">
              <button type="button" class="id">ID</button>
              <input class ="input-id" name="username" type="text" value="">
            </div>
            <div class="Password">
              <button type="button" class="password">비밀번호</button>
              <input class ="input-password" name="password" type="password" value="">
            </div>
          </div>
          <div class="enter">
              <button type="button" class="btn2"><a href="{% url 'signup' %}">회원가입</a></button>
              <input class="btn2" type="submit" value="로그인">
          </div>
        </div>  
      </form>
    </body>
{%endblock%}