<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../static/css/main.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>   
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@500&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Yanone+Kaffeesatz:wght@500&display=swap" rel="stylesheet">
    <title>Community</title>
</head>
<body>
    <div class="nav-wrapper">
        <div class="logo">
            <img src="../../static/css/logo_back.PNG" >
        </div>
        <ul class="nav">
            <li><a href="{% url 'credit' %}"><img src="https://image.flaticon.com/icons/png/512/174/174188.png" id="support_btn"></a></li>
            <li style="color: white;" class="logout"><a href="{% url 'main_login' %}">Logout</a></li>
            <li><a href="{% url 'profile' user.username %}"><img class="nav-profile" src="https://image.flaticon.com/icons/png/512/149/149071.png"></a></li>
        </ul>
    </div>
    <!--여기까지가 Navbar-->
    <div class="search-wrapper">
        <div class="search">
            <form action="{% url 'search' %}" method='GET'>  
            <input type="text" name="search_key" value="{{ search_key }}">
            </form>
            <img src="https://image.flaticon.com/icons/png/512/622/622669.png" >
        </div>
        
    <!--여기까지가 검색창-->    

    </div>
    <a href="">디테일 페이지 임시 버튼</a>
    <a href="{% url 'main_map' %}">맵 페이지 임시 버튼</a>
    <div class="card-wrapper">
    {% for blog in blogs %}    
        <div class="card">
            <div class="card-info">
                <img class="Id_Profile" src="https://image.flaticon.com/icons/png/512/149/149071.png">
                <p class="Id">{{ blog.author }}</p>
                <img class="weather" src="https://image.flaticon.com/icons/png/512/1146/1146869.png">
                <p class="clock">{{ blog.created_at }}</p>
            </div>
            <div class="card-banner">
                <a href="{%url 'detail' blog.id%}"><img src="{{blog.images.url}}" alt=""></a>
            </div>
            <div class="card-body">
                <p class="hastag">{{blog.hashtag}}</p>
                <p class="desc">{{blog.body}}</p>
            </div>
        </div>
    {% endfor %}
    </div>

    

    <a href="{% url 'post' %}"><img src="https://image.flaticon.com/icons/png/512/875/875068.png" id="fixedbutton"></a>

</body>
</html>