{% extends 'blog/base.html' %}

{%block content%}
    <link rel="stylesheet" href="../../static/css/main.css">
    <div class="search-wrapper">
        <div class="search">
            <form action="{% url 'search' %}" method='GET'>  
            <input type="text" name="search_key" value="{{ search_key }}">
            </form>
            <img src="https://image.flaticon.com/icons/png/512/622/622669.png" >
        </div>
        
    <!--여기까지가 검색창-->    

    </div>
    <a href="{% url 'main_map' %}">맵 페이지 임시 버튼</a>
    <div class="card-wrapper">
    {% for blog in blogs %}    
        <div class="card">
            <div class="card-info">
                {%if person.profile.profile_photo%}
                    <img class="Id_Profile" style="border-radius:50px;" src={{person.profile.profile_photo.url}}>
                {%else%}
                    <img class="Id_Profile" src="https://image.flaticon.com/icons/png/512/149/149071.png">
                {%endif%}
                
                <p class="Id">{{ blog.author }}</p>
                
                
                {% if blog.weather == "['rainy']" %}
                <img class="weather" src='https://image.flaticon.com/icons/png/512/826/826957.png'>
                {% endif %}
                {% if blog.weather == "['sunny']" %}
                <img class="weather" src='https://image.flaticon.com/icons/png/512/869/869869.png'>
                {% endif %}
                {% if blog.weather == "['wind']" %}
                <img class="weather" src='https://image.flaticon.com/icons/png/512/4150/4150923.png'>
                {% endif %}
                {% if blog.weather == "['cloudy']" %}
                <img class="weather" src='https://image.flaticon.com/icons/png/512/1146/1146869.png'>
                {% endif %}
                <p class="clock">{{ blog.created_at|date:'m-d h:i' }}</p>
            </div>
            <div class="card-banner">
                <a href="{%url 'detail' blog.id%}"><img src="{{blog.images.url}}" alt=""></a>
            </div>
            <div class="card-body">
                <p class="hastag">{{blog.hashtag}}</p>
                <p class="desc">{{blog.body}}</p>
            </div>
        </div>
    {% endfor %}
    </div>
    <a href="{% url 'post' %}"><img src="https://image.flaticon.com/icons/png/512/875/875068.png" id="fixedbutton"></a>
{%endblock%}