{% extends 'blog/base.html' %}

{% load bootstrap4 %}

{% block content %}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <div class="big" style="background-color: rgb(240, 237, 233);">
        <div class = "item" style="margin: 0px 200px 0px 200px;  background-color: rgb(240, 237, 233);">
            <a class="text-center" style="font-size:30px; line-height: 250%">회원정보 변경</a><br>
            <form method="POST" enctype="multipart/form-data">
            <!-- 파일을 업로드할 때 form method는 POST여야하고 enctype을 multipart/form-data로 설정해야 한다. -->
                {% csrf_token %}
                {% bootstrap_form user_change_form %}
                {% bootstrap_form profile_form %}
                <button type="submit" class="btn btn-primary">수정</button>
            </form>
        </div>
    </div>
{% endblock %}
</body>
</html>
