<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../../static/css/post.css">
  <link rel="stylesheet" href="../../static/css/profile.css">
  <title>Cli-mate_Profile</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Rancho&display=swap" rel="stylesheet">
</head>
<body> 
    <!-- accounts/templates/accounts/profile.html -->
{% extends 'blog/base.html' %}

{% load bootstrap4 %}

{% block body %}
    <h1 class="text-center">회원정보 변경</h1>
    <form method="POST" enctype="multipart/form-data">
    <!-- 파일을 업로드할 때 form method는 POST여야하고 enctype을 multipart/form-data로 설정해야 한다. -->
        {% csrf_token %}
        {% bootstrap_form user_change_form %}
        {% bootstrap_form profile_form %}
        <button type="submit" class="btn btn-primary">수정</button>
    </form>
{% endblock %}
</body>
</html>
