<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../../static/css/post.css">
  <title>Cli-mate</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Rancho&display=swap" rel="stylesheet">
</head>
<body>
    <div class="nav-wrapper">
        <div class="logo">
            <img src="../../static/css/logo_back.PNG" >
        </div>
        <ul class="nav">
            <li><a href="{% url 'credit' %}"><img src="https://image.flaticon.com/icons/png/512/174/174188.png" id="support_btn"></a></li>
            <li style="color: white;" class="logout"><a href="#">Logout</a></li>
            <li><img class="nav-profile" src="https://image.flaticon.com/icons/png/512/149/149071.png"></li>
        </ul>
    </div>
    
    <form action="{%url 'create'%}" method="post" enctype="multipart/form-data">
        {%csrf_token%}
        <div class="body">
            <div class="weather-wrapper">
                <btn class="btn_weather">날씨 선택</btn>
                <input type="checkbox" id="box1" class="box1"><label for="box1">비</label>
                <input type="checkbox" id="box2" class="box2"><label for="box2">맑음</label>
                <input type="checkbox" id="box3" class="box3"><label for="box3">선선함</label>
                <input type="checkbox" id="box4" class="box4"><label for="box4">구름 조금</label>
            </div>
        </div>
        <div class="body2">
            <div class="time-wrapper">
                <btn class="btn_time">시간 선택</btn>
                <input type="datetime-local"/>
            </div>
        </div>
        <div class="body3">
            <div class="photo-wrapper">
                <btn class="btn_photo">사진 선택</btn>
                <input type="file" accept="image/*" onchange="setThumbnail(event);"/>   
            </div>
        </div>
        <div class="body4">
            <div class="hashtag-wrapper">
                <btn class="btn_hashtag">해시태그</btn>
                <form>
                    <input type="text" placeholder="# 해시태그를 입력해주세요" style="width: 400px;"/>
                </form>
            </div>
        </div>
        <div class="body5">
            <div class="desc-wrapper">
                <btn class="btn_desc" style="height: 35px; margin-top: 60px;">내용 입력</btn>
                <form>
                    <textarea rows="10" cols="50">내용을 입력해주세요</textarea>
                </form>
            </div>
        </div>
</body>

</html>