{% extends 'blog/base.html' %}
{% block content %}
<body>
    <link rel="stylesheet" href="../../static/css/post.css">
    <form action="{%url 'create'%}" method="post" enctype="multipart/form-data">
        {%csrf_token%}
        <div class="body">
            <div class="weather-wrapper">
                <btn class="btn_weather">날씨 선택</btn>
                <script type="text/javascript">
                function checkOnlyOne(element) {
  
                    const checkboxes 
                        = document.getElementsByName("weather[]");
                    
                    checkboxes.forEach((cb) => {
                      cb.checked = false;
                    })
                    
                    element.checked = true;
                  }
                </script>
                <input type="checkbox" name="weather[]" value="rainy" onclick='checkOnlyOne(this)' id="box1" class="box1"><label for="box1">비</label>
                <input type="checkbox" name="weather[]" value="sunny" onclick='checkOnlyOne(this)' id="box2" class="box2"><label for="box2">맑음</label>
                <input type="checkbox" name="weather[]" value="wind" onclick='checkOnlyOne(this)' id="box3" class="box3"><label for="box3">선선함</label>
                <input type="checkbox" name="weather[]" value="cloudy" onclick='checkOnlyOne(this)' id="box4" class="box4"><label for="box4">구름 조금</label>
            </div>
        </div>
        <div class="body2">
            <div class="time-wrapper">
                <btn class="btn_time">시간 선택</btn>
                <input type="datetime-local"/>
            </div>
        </div>

    
        <div class="body3">
            <div class="photo-wrapper">
                <btn class="btn_photo">사진 선택</btn>
                <input type="file" name = "images">
                <!-- <input type="file" name="images" accept="image/*" onchange="setThumbnail(event);"/>    -->
            </div>
        </div>

        
        <div class="body4">
            <div class="hashtag-wrapper">
                <btn class="btn_hashtag">해시태그</btn>
                <textarea name="hashtag" rows="5" cols="50">해시태그를 입력해주세요</textarea>
            </div>
        </div>
        <div class="body5">
            <div class="desc-wrapper">
                <btn class="btn_desc" style="height: 35px; margin-top: 60px;">내용 입력</btn>
                
                <textarea name="body" rows="10" cols="50">내용을 입력해주세요</textarea>
                
            </div>
        </div>  

        <div class="body6">
            <script>
                if (navigator.geolocation) {
                    navigator.geolocation.getCurrentPosition(function(position) {
        
                        var lat = position.coords.latitude, // 위도
                            lon = position.coords.longitude; // 경도
                        
                        var locPosition = new kakao.maps.LatLng(lat, lon), // 마커가 표시될 위치를 geolocation으로 얻어온 좌표로 생성합니다
                    });
                }
            </script>
        </div>
        <button type="submit" class ="submit"> submit</button>
    </form>

</body>
{% endblock %}



<!-- <form action="{%url 'create'%}" method="post" enctype="multipart/form-data">
    {%csrf_token%}
    <p><input type="checkbox" name="rainy" id="box1" class="box1">비
    <input type="checkbox" name="snowy" id="box1" class="box1">눈</p>
    본문 <textarea name="body" id="" cols="30" rows="10"></textarea>
    <p>태그 <textarea name="hashtag" id="" cols="30" rows="1"></textarea></p>
    <p>사진: <input type="file" name = "images"></p>
    <button type="submit"> submit</button>
</form> -->