
<!-- accounts/templates/accounts/people.html -->
{% extends 'blog/base.html' %}
    <link rel="stylesheet" href="../../static/css/post.css">
    <link rel="stylesheet" href="../../static/css/profile.css">
{% block body %}
<div class="row">
     <div class="col-4">
        <img src={% if person.profile.profile_photo %}"{{ person.profile.profile_photo.url }}"{% else %}"https://i.stack.imgur.com/34AD2.jpg"{% endif %} 
            width="170rem" style="border-radius: 50%;" alt="">
    </div>
    <div class="col-8">
        <h2>{{ user.username }}
            {% if user.username == user.username %}
            <a href="{% url 'modify' %}"><button class="btn btn-success">프로필 편집</button></a>
            {% endif %}
            <!-- 다음 포스트에 프로필 편집 페이지를 구성할 것이다. -->
        </h2>
        <p>{{ profile.nickname }}</p>
    </div>
</div>
{% endblock %}
