<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../static/css/main.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>   
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@500&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Yanone+Kaffeesatz:wght@500&display=swap" rel="stylesheet">
    <title>Community</title>
</head>
<body>
    <div class="nav-wrapper">
        <div class="logo">
            <img src="../../static/css/logo_back.PNG" >
        </div>
        <ul class="nav">
            <li><a href="{% url 'credit' %}"><img src="https://image.flaticon.com/icons/png/512/174/174188.png" id="support_btn"></a></li>
            <li style="color: white;" class="logout"><a href="#">Logout</a></li>
            <li><img class="nav-profile" src="https://image.flaticon.com/icons/png/512/149/149071.png"></li>
        </ul>
    </div>
    <!--여기까지가 Navbar-->
    <div class="search-wrapper">
        <div class="search">
            <form action="" method='GET'>  
            <input type="text" name="search_key" value="{{ search_key }}">
            </form>
            <img src="https://image.flaticon.com/icons/png/512/622/622669.png" >
        </div>
    </div>
    <div class="row">
     <div id="blog_list_search" class="search_list">
        <div class="card-wrapper">
            {% for blog in blog_list %}
            <div class="card">
                <div class="card-info">
                    <img class="Id_Profile" src="https://image.flaticon.com/icons/png/512/149/149071.png">
                    <p class="Id">{{blog.author}}</p>
                    <img class="weather" src="https://image.flaticon.com/icons/png/512/1146/1146869.png">
                    <p class="clock">{{blog.created_at}}</p>
                </div>
                <div class="card-banner">
                    <div class="card-profile-content">
                        <img src="https://images.unsplash.com/photo-1438761681033-6461ffad8d80?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1500&q=80">
                    </div>
                    <img src="{{blog.images.url}}" width="1350" height="2000">
                </div>
                <div class="card-body">
                    <p class="hastag">{{blog.hashtag}}</p>
                    <p class="desc">{{blog.body}}</p>
                </div>
            </div> 
         {% endfor %}
        </div>
     </div>
    </div>
  </body>
</html>