<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Map</title>
</head>
<body>
    <h2>Map View</h2>
    <div id="map" style="width:800px;height:600px;"></div>
    <script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=b50f777e80931e3ecceb48757ca6e4bf"></script>
    <script>
        var container = document.getElementById('map'); //지도를 담을 영역의 reference
        var options = {
            center: new kakao.maps.LatLng(35.889733, 128.610047), //지도의 option을 설정 // 35.-,128.- 는 좌표 정보
            level: 4
        };

        var map = new kakao.maps.Map(container, options);
    </script>
</body>
</html>